{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<script type="text/javascript" status="hidden">
  $('body').data('status', {{ status }});
</script>
<div class="big-container">
  <div class="jumbotron text-center">
      <form id="search-form" action="/" method="get">
        <link rel='stylesheet' type='text/css' href="{% static '/static/style.css' %}" />
        {% for field in form %}
            {{ field|add_class:"focus" }}
        {% endfor %}
      </form>
  </div>
  <div id="data-display" class="small-container">
    <div class="row">
      <div class="col-md-6">
        <img src={{data.artwork}}>
        <span class="label label-success">Price: {{ data.price.price }}</span><span class="label label-danger">Listing: {{ data.price.list_price }}</span>
        <br></br>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Ratings</center></h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <center>Critics Score: {{ data.rt_rating.critics_score }}</center>
            </div>
            <div class="col-md-6">
              <center>Audience Score: {{ data.rt_rating.audience_score }}</center>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Blu-ray release</center></h3>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <center>Video: {{ data.bluray_rating.video }}</center>
            </div>
            <div class="col-md-4">
              <center>Audio: {{ data.bluray_rating.audio }}</center>
            </div>
            <div class="col-md-4">
              <center>Extras: {{ data.bluray_rating.extras }}</center>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Technical specs</center></h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <table>
                <tr>
                  <th>Negative Format: </th>
                  <td>
                    {% for spec in data.tech_specs.negative_format %}
                      {{ spec }}<br>
                    {% endfor %}
                  </td>
                </tr>
              </table>
            </li>
            <li class="list-group-item">
              <table>
                <tr>
                  <th>Cinematographic Process: </th>
                  <td>
                    {% for spec in data.tech_specs.cinematographic_process %}
                      {{ spec }}<br>
                    {% endfor %}
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-info text-center" role="alert">
        If the result is not what you expected, please submit an issue on GitHub
      </div>
    </div>
  </div>
  <div id="search-error" class="alert alert-danger" role="alert">
    <strong>Oh Snap!</strong> Looks like something went wront on our end, we couldn't find your movie.
  </div>
</div>
{% endblock %}
