.big-container {
  overflow:hidden;
}
.small-container {
    position: relative;
    top: -650px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 0;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    display: table;
}
.jumbotron:focus + .small-container,
.jumbotron.focus + .small-container {
    top: 280px;
}
.jumbotron {
    background: #F5F5F5;
    color: white;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow:hidden;
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.nav {
  /*position: fixed;*/
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

input[type="text"] {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 100px;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  appearance: none;
  box-shadow: none;
}

input, select, textarea{
    color: #000000;
}

input[type="text"]:focus {
  outline: none;
}

.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

table {
  width: 100%;
}
table th {
  width: 40%;
}

.alert-danger {
  position: relative;
  top: 280px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: none;
}
